//Custom CSS
.div{
    display: flex;
}
.sidebar{
    min-height: 100vh;
    min-width:20vw;
    background-color: rgb(0, 21, 255);
}
.container{
    background-color:#FFFFFF;
    padding:0 40px;
    width: 100%;
    // overflow-y: scroll;
    // min-height: 100vh;
    // min-width: 400px;
    
}
.inputBox{
    background-color: #F5FAFF;
    border-bottom: solid 1px #000000;
}
.createBatchInputBox{
width: 100%;
background-color: aqua !important;
}
.col{
    margin-left: 0px;
}
label{
    font-size: small;

}
.btn{
    font-size: small;

}

.form-body{
    background-color: #FFFFFF;
    
}
 .text-danger {
    font-size: small;
 }
 .dropdown .buttons {
    border: solid 1px #000000;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-sizing: border-box;
  }
 .dropdown-menu {
    min-width: 100%;
  }
  
  .dropdown-item {
    width: 100%;
  }
  
.upload {
    border-radius: 2.25rem; 
  }
  
  .upload.btn-outline-primary {
    border: 1px solid #007bff; 
    color: #007bff; 
  }
  
  .upload.btn-outline-primary:hover {
    background-color: #007bff;
    color: white;
  }
//Stepper CSS
.h-12rem {
    height: 42rem;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .flex-auto {
    flex: 1 1 auto;
  }
  
  .border-2 {
    border-width: 0px !important;
  }
  
  .border-dashed {
    border-style:groove;
  }
  
  .border-round {
    border-radius: 5px;
  }
  
  .surface-border {
    border-color: var(--surface-border);
  }
  
  .surface-ground {
    // background-color: var(--surface-ground);
  }
  
  .font-medium {
    font-weight: 500;
  }
  
  .pt-4 {
    padding-top: 1rem;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .justify-content-end {
    justify-content: flex-end;
  }
  
//   .justify-content-between {
//     justify-content: space-between;
//   }
  
  .justify-content-start {
    justify-content: flex-start;
  }
  .phase-container{
    // margin-top: 20px;
    // margin-bottom: 20px;
  }

  .form-container {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .form-container h4, .form-container h5 {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 20px;
  }

.createbatch-p{
    font-size: smaller;
}
input[type="file"] {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  table {
    margin-top: 20px;
  }
 

  