<div class="div">
  <div class="container">
    <form [formGroup]="createBatchForm" (ngSubmit)="createBatch()">
      <p-stepper>
        <p-stepperPanel class="stepper" header="">
          <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
            <div class="flex flex-column h-12rem">
              <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                <div class="container form-container">
                  <h4>CREATE BATCH</h4>
                  <div class="row mt-5">
                    <div class="col-md-6 mb-3">
                      <label for="selectYear">Select Program</label>
                      <div class="dropdown form-group">
                        <select id="selectProgram" class="form-control" formControlName="selectProgram">
                          <option value="" disabled>Select the Program</option>
                          <option value="2023">2023</option>
                          <option value="2024">2024</option>
                          <option value="2025">2025</option>
                        </select>
                        <div *ngIf="getFormControl('selectProgram').invalid && getFormControl('selectProgram').touched" class="text-danger">
                          * Year is required
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label for="numberOfTotalDays">Number of Days</label>
                        <input type="text" id="numberOfTotalDays" class="form-control inputBox" formControlName="numberOfTotalDays">
                        <div *ngIf="getFormControl('numberOfTotalDays').invalid && getFormControl('numberOfTotalDays').touched" class="text-danger">
                          * Number of days is required
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label for="batchCode">Batch Code</label>
                        <input type="text" id="batchCode" class="form-control inputBox" formControlName="batchCode">
                        <div *ngIf="getFormControl('batchCode').invalid && getFormControl('batchCode').touched" class="text-danger">
                          * Batch code is required
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label for="startDate">Start Date (Tentative)</label>
                        <input type="date" id="startDate" class="form-control inputBox" formControlName="startDate">
                        <div *ngIf="getFormControl('startDate').invalid && getFormControl('startDate').touched" class="text-danger">
                          * Start date is required
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label for="batchName">Batch Name</label>
                        <input type="text" id="batchName" class="form-control inputBox" formControlName="batchName">
                        <div *ngIf="getFormControl('batchName').invalid && getFormControl('batchName').touched" class="text-danger">
                          * Batch name is required
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label for="endDate">End Date (Tentative)</label>
                        <input type="date" id="endDate" class="form-control inputBox" formControlName="endDate">
                        <div *ngIf="getFormControl('endDate').invalid && getFormControl('endDate').touched" class="text-danger">
                          * End date is required
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 mb-3">
                      <label for="batchType">Batch Type</label>
                      <div class="dropdown form-group">
                        <select id="batchType" class="form-control" formControlName="batchType">
                          <option value="" disabled>Select a Batch Type</option>
                          <option value="BA Batch">BA Batch</option>
                          <option value="Developer Batch">Developer Batch</option>
                          <option value="Tester Batch">Tester Batch</option>
                        </select>
                        <div *ngIf="getFormControl('batchType').invalid && getFormControl('batchType').touched" class="text-danger">
                          * Batch type is required
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 mb-3">
                      <label for="locationDropdown">Location (Optional)</label>
                      <div class="dropdown form-group">
                        <select id="locationDropdown" class="form-control" formControlName="locationDropdown">
                          <option value="" disabled>Select a Location<i class="bi bi-chevron-down"></i></option>
                          <option value="Thiruvanathapuram">Thiruvanathapuram</option>
                          <option value="Kochi">Kochi</option>
                          <option value="Bangalore">Bangalore</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-6 mb-3">
                      <label for="learningLeaveApproverDropdown">L&D Leave Approver</label>
                      <div class="dropdown form-group">
                        <select id="learningLeaveApproverDropdown" class="form-control" formControlName="learningLeaveApproverDropdown">
                          <option value="" disabled>Select a Person</option>
                          <option value="Kavita Mary Thomas">Kavita Mary Thomas</option>
                          <option value="Jordan S Ben">Jordan S Ben</option>
                        </select>
                        <div *ngIf="getFormControl('learningLeaveApproverDropdown').invalid && getFormControl('learningLeaveApproverDropdown').touched" class="text-danger">
                          * L&D Leave Approver is required
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 mb-3">
                      <label for="trainerLeaveApproverDropdown">Trainer Leave Approver</label>
                      <div class="dropdown form-group">
                        <select id="trainerLeaveApproverDropdown" class="form-control" formControlName="trainerLeaveApproverDropdown">
                          <option value="" disabled>Select a Trainer</option>
                          <option value="Suneesh Thampi">Suneesh Thampi</option>
                          <option value="Leksmi A">Leksmi A</option>
                          <option value="Veena">Veena</option>
                        </select>
                        <div *ngIf="getFormControl('trainerLeaveApproverDropdown').invalid && getFormControl('trainerLeaveApproverDropdown').touched" class="text-danger">
                          * Trainer Leave Approver is required
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 mb-3">
                      <input type="file" (change)="onFileChange($event)" class="form-control">
                      <p class="createbatch-p">Upload the list of trainees (Format: .xlsx)</p>
                      <div class="btn btn-outline-primary upload">Upload File</div><span class="createbatch-p">Don’t have a template? Download it <a href="">here</a></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex pt-4 justify-content-end">
                <p-button 
                  label="Next" 
                  icon="pi pi-arrow-right" 
                  iconPos="right" 
                  (onClick)="nextCallback.emit()" />
              </div>
            </div>
          </ng-template>
        </p-stepperPanel>

        <p-stepperPanel header="">
          <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
            <div class="flex flex-column h-12rem">
              <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                <div class="container form-container">
                  <h4>Create Batch</h4>
                  <h5>List of Trainees</h5>
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <!-- <th *ngFor="let column of columns" >{{ column }}</th> -->
                          <th>Sl. No.</th>
                          <th>Trainee Name</th>
                          <th>Gender</th>
                          <th>Mobile Number</th>
                          <th>Experion Email ID</th>
                          <th>Personal Email ID</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of excelData">
                          <td *ngFor="let column of columns">{{ row[column] }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="flex pt-4 justify-content-between">
                <p-button 
                  label="Back" 
                  icon="pi pi-arrow-left" 
                  iconPos="left" 
                  (onClick)="prevCallback.emit()" />
                <p-button 
                  label="Next" 
                  icon="pi pi-arrow-right" 
                  iconPos="right" 
                  (onClick)="nextCallback.emit()" />
              </div>
            </div>
          </ng-template>
        </p-stepperPanel>

       <p-stepperPanel header="">
          <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
            <div class="flex flex-column h-12rem">
              <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                <div class="container form-container">
                  <h4>Create Batch</h4>
                  <h5>Curriculum for the batch</h5>
                  
                  <div formArrayName="phases">
                    <div *ngFor="let phase of phasesArray().controls; let phaseIndex = index">
                      <div [formGroupName]="phaseIndex" class="phase-container">
                        <button type="button" class="btn btn-outline-primary remove-phase-btn" (click)="removePhase(phaseIndex)">
                          <i class="pi pi-trash">&ensp;Remove Phase</i>
                        </button>

                        <div class="row mb-3 mt-3 phase-item">
                          <div class="col-md-6">
                            <div class="form-group">
                              
                              <label for="phaseName{{ phaseIndex }}">Phase Name</label>
                              <select id="phaseName" class="form-control" formControlName="phaseName">
                                <option value="" disabled>Select the Phase</option>
                                <option value="Tech Fundamentals">Tech Fundamentals</option>
                                <option value="Business Orientation">Business Orientation</option>
                                <option value="OJT">OJT</option>
                              </select>
                              <div *ngIf="getFormControl('phases.' + phaseIndex + '.phaseName').touched && getFormControl('phases.' + phaseIndex + '.phaseName').invalid" class="text-danger">
                                * Phase name is required
                              </div>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <label for="numberOfDays{{ phaseIndex }}">Number of days</label>
                              <input type="text" id="numberOfDays{{ phaseIndex }}" class="form-control inputBox" formControlName="numberOfDays">
                              <div *ngIf="getFormControl('phases.' + phaseIndex + '.numberOfDays').touched && getFormControl('phases.' + phaseIndex + '.numberOfDays').invalid" class="text-danger">
                                * Number of days is required
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="phaseStartDate{{ phaseIndex }}">Start Date (Tentative)</label>
                              <input type="date" id="phaseStartDate{{ phaseIndex }}" class="form-control inputBox" formControlName="phaseStartDate">
                              <div *ngIf="getFormControl('phases.' + phaseIndex + '.phaseStartDate').touched && getFormControl('phases.' + phaseIndex + '.phaseStartDate').invalid" class="text-danger">
                                * Start date is required
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="phaseEndDate{{ phaseIndex }}">End Date (Tentative)</label>
                              <input type="date" id="phaseEndDate{{ phaseIndex }}" class="form-control inputBox" formControlName="phaseEndDate">
                              <div *ngIf="getFormControl('phases.' + phaseIndex + '.phaseEndDate').touched && getFormControl('phases.' + phaseIndex + '.phaseEndDate').invalid" class="text-danger">
                                * End date is required
                              </div>
                            </div>
                          </div>

                          <div class="col-md-12">
                            <h6 class="mt-1">Assessment Criteria</h6>
                            <div formArrayName="assessmentTypeList">
                              <div *ngFor="let assessment of assessmentTypeListArray(phaseIndex).controls; let i = index">
                                <div [formGroupName]="i" id="criteriaList">
                                  <div class="row mb-3 mt-3 criteria-item">
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label for="evaluationCriteria{{ phaseIndex }}-{{ i }}">Assessment Type</label>
                                        <select id="evaluationCriteria" class="form-control" formControlName="evaluationCriteria">
                                          <option value="" disabled>Select Assessment Type</option>
                                          <option value="Daily Assessment">Daily Assessment</option>
                                          <option value="Live Assessment">Live Assessment</option>
                                          <option value="Project">Project</option>
                                          <option value="Module">Module</option>
                                          <option value="Case study">Case Study</option>

                                        </select>
                                        <div *ngIf="assessment.get('evaluationCriteria')?.touched && assessment.get('evaluationCriteria')?.invalid" class="text-danger">
                                          <div *ngIf="assessment.get('evaluationCriteria')?.hasError('required')">
                                            * Assessment type is required
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-2">
                                      <div class="form-group">
                                        <label for="weightage{{ phaseIndex }}-{{ i }}">Weightage</label>
                                        <input type="text" id="weightage{{ phaseIndex }}-{{ i }}" class="form-control inputBox" formControlName="weightage">
                                        <div *ngIf="assessment.get('weightage')?.touched && assessment.get('weightage')?.invalid" class="text-danger">
                                          <div *ngIf="assessment.get('weightage')?.hasError('required')">
                                            * Weightage is required
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col pt-4 ">
                                      <i class="pi pi-trash remove-assessment-btn" style="font-size: 1rem" (click)="removeAssessmentType(phaseIndex, i)"></i>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="d-flex justify-content-start mb-3">
                              <button type="button" class="btn btn-light" id="addCriteriaBtn" (click)="addAssessmentType(phaseIndex)">+ Add New Criteria</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-10 mx-auto">
                      <button type="button" class="btn btn-light w-100" (click)="addPhase()">+ Add New Phase</button>
                    </div>
                  </div>

                </div>
              </div>
              <div class="flex pt-4 justify-content-between">
                <p-button 
                  label="Back" 
                  icon="pi pi-arrow-left" 
                  iconPos="left" 
                  (onClick)="prevCallback.emit()" />
                <p-button 
                  type="submit"
                  label="Submit" 
                  icon="pi pi-arrow-right" 
                  iconPos="right" 
                  (onClick)="prevCallback.emit()" />
              </div>
            </div>
          </ng-template>
        </p-stepperPanel>
        
      </p-stepper>
            </form>
  </div>
</div>
