<div class="d-flex">
    <div class="side"></div>
    <div class="w-100 p-5">
        <div class="account p-5">
            <div class="container accountheader d-flex justify-content-between align-items-center">
                <h2>ACCOUNTS</h2>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createAccountModal">
                    Create New
                </button>
            </div>
            <div class="d-flex justify-content-end mt-5 mb-3">
                <div class="me-2" *ngIf="showYearSelect">
                    <!-- <label for="year" class="form-label-placeholder">Select Year</label> -->
                    <select class="form-select" id="year" [formControl]="yearControl">
                        <option value="" disabled selected hidden>Select Year</option>
                        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                    </select>
                </div>
                <div class="ms-4 me-4">
                    <!-- <label for="role" class="form-label-placeholder">Select Role</label> -->
                    <select class="form-select" id="role" [formControl]="roleControl">
                        <option value="" disabled selected hidden>Select Role</option>
                        <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                    </select>
                </div>
                <div class="">
                    <input type="text" pInputText placeholder="  Search" [formControl]="searchControl" id="searchControl">
                </div>
            </div>
            <div class="table justify-content-center align-items-center"><app-table [columns]="tableColumns" [data]="tableData" [searchControl]="searchControl">
                </app-table></div>
        </div>
    </div>
</div>

<app-createaccountmodal></app-createaccountmodal>