.eC-container {
  box-shadow: 0px 3px 18px 0px rgba(85, 118, 217, 0.2);
  width: 100%;
  // margin: 50px;
  padding: 50px;
}

.input-group {
  width: 100%;
  margin-bottom: 10px;
}

td {
  padding: 0px 1rem;
}

.search,.new-phase-name {
  width: 16vw;
  background-color: #f5faff;
  color: #000;
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid #000;}

.add-phase-button {
  width: 90%;
  border: none;
  background-color: #f5faff;
}

.buttons {
  margin-top: 20px;
}
p-table {
  width: 100%;
  overflow-x: auto;
}


