.eC-container {
  box-shadow: 0px 3px 18px 0px rgba(85, 118, 217, 0.2);
  width: 90%;
  margin: 50px auto;
  padding: 50px;

}

.input-group {
  width: 100%;
  margin-bottom: 10px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 10px;
}

.search, .new-phase-name {
  width: 100%;
  max-width: 300px;
  background-color: #f5faff;
  color: #000;
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid #000;
}

.add-phase-button {
  width: 100%;
  max-width: 300px;
  border: none;
  background-color: #f5faff;
}



.buttons {
  margin-top: 20px;
}

@media (max-width: 576px) {
  .table-and-search .p-table {
    overflow-x: auto;
  }
}
