.custom-input {
  width: 100%;
  background-color: #F5FAFF;
  color: #000;
  border:none;
  border-bottom: 2px solid #000;
}
.schedule-operation-container{
  background-color: #ffffff;
  width:90%;
  height: 60%;
}
