
.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right center;
  background-position-x: calc(100% - 10px);
  background-size: 40px 50px;
  padding-right: 30px;
  cursor: pointer;
}


// .batch-dropdown {
//   position: absolute;
//   top: 70px;
//   right: 40px;
// }




// .form-row{
//     display: flex;
//     flex-direction: row;
//     // gap:100px;
//     // width:900px;
   
// }




.form-arrange{
  border:2px solid #6A6A6A;
  background-color: white;
  width:12rem;
  padding:8px;
 

}
