<div
  class="main-container d-flex justify-content-center align-items-center p-5"
>
  <div
    class="table-and-search d-flex flex-column align-items-center justify-content-end w-100"
  >
    <div class="input-group d-flex flex-row justify-content-end m-4">
      <div class="input-container d-flex justify-content-between p-1">
        <i class="bi bi-search search-icon p-1"></i>
        <input
          type="text"
          pInputText
          class="search"
          placeholder="Enter trainee Name"
          [formControl]="searchControl"
          aria-label="Search-text"
          aria-describedby="button-addon2"
        />
      </div>
    </div>
    <div class="w-100">
      <p-table
        [value]="filteredColumns"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 10%">SL No.</th>
            <th style="width: 30%">Name</th>
            <th style="width: 30%">Attendance</th>
            <th style="width: 30%">Remarks</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-trainee let-rowIndex="rowIndex">
          <tr>
            <td>{{ rowIndex + 1 }}</td>
            <td>{{ trainee.firstName }} {{ trainee.lastName }}</td>
            <td>
              <input
                type="checkbox"
                [(ngModel)]="trainee.attendance"
                aria-label="attendance-checkbox"
                [checked]="trainee.attendance"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control remarks"
                placeholder="Write your remarks here"
                aria-label="Example text with button addon"
                aria-describedby="button-addon1"
                [(ngModel)]="trainee.remarks"
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
