.remarks {
  width: 16vw;
  background-color: #f5faff;
  color: #000;
  border: none;
}
.main-container{
  overflow-x: auto;
}
.input-container {
  background-color: #f5faff;
  color: #000;
  border: none;
  border-bottom: 1.5px solid #000;
  position: relative;
  display: inline-block;
  }
  .search{
  background-color: #f5faff;
  border: none;
  }
  td {
    padding: 0px 1rem;
  }
  .search:focus,
.search:active {
  border: none;
  outline: none;}


.form-check-input:checked {
  background-color: #5576d9;
}
.form-check-input:focus,
.form-check-input:active {
  outline: none !important;
  box-shadow: none;
}
.button-space {
  width: 40px;
}

p-table {
  width: 100%;
  overflow-x: auto;
}
td {
  padding: 15px 1rem;
}

