<div class="container">
  <div id="table">
    <h5>{{tableTitle}}</h5>
    <p-table
      [value]="tableData"
      [scrollable]="true"
      scrollHeight="1000px"
      styleClass="mt-3"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width: 50px" pFrozenColumn>Id</th>
          <th style="min-width: 100px" pFrozenColumn>Name</th>

          @for(column of columns;track column){
            <th style="min-width: 50px">{{column}}</th>
          }

          <!-- <th style="min-width: 50px">Live Assessment</th>
          <th style="min-width: 50px">Module Assessment</th>
          <th style="min-width: 50px">Case Study</th>
          <th style="min-width: 50px">Project</th> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <td style="min-width: 100px" pFrozenColumn>{{ data.id }}</td>
          <td pFrozenColumn>{{ data.name }}</td>
          @for(score of data.scores;track score){
              <td>{{ score }}</td>
          }
          
          <!-- <td>{{ data.live_assessment }}</td>
          <td>{{ data.module_assessment }}</td>
          <td>{{ data.case_study }}</td>
          <td>{{ data.project }}</td> -->

        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
