.parent-container{
  position: relative;
  margin-left: 20vw;
  padding:100px ;
 
}
.container {
    width: 900px;
    height:150vh;
    font-size: 15px;
    top: 300px;
   
  }


.form-container {
 
  top: 300px;
  box-shadow: 0 0 10px rgb(0, 0, 0,0.1);
  
}
.batch-dropdown {
  position: absolute;
  top: 70px;
  right: 40px;
}


.form-group{
 padding: 5px;
}

.main-title{
    font-weight:700; 
    font-size: 30px;
    color:#27314B;
}
.form-control {
  background-color: #F5FAFF;
  width: 250px;
  border: none;
  border-bottom:1px solid black;
}
.form-row{
    display: flex;
    flex-direction: row;
    gap:100px;
    width:900px;
   
}

.table-dropdown{
    border:1px solid #6A6A6A;
    width: 40px;
}
.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right center;
    background-position-x: calc(100% - 10px); 
    background-size: 40px 50px; 
    padding-right: 30px; 
    cursor: pointer;
  }

.confirm-submission{
    margin-top: 10px;
    padding: 20px;
}
.form-arrange{
  border:2px solid #6A6A6A;
  width:12rem;
  padding:8px;
 

}
.create-button{

  margin-left: 50px;
}
.custom-btn-1 {
  color: #5576D9;           
  background-color: white;  
  border-color: #5576D9; 
  padding: 5px 20px; 
 
}

.custom-btn-2 {
  background-color: #5576D9; 
  color: white;
  border-color: #5576D9;
  padding: 5px 20px; 
}
.validation-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}
