
<div class="parent-container">
  <form [formGroup]="assignmentForm" (ngSubmit)="onSubmit()">
    <div class="batch-dropdown  d-flex justify-content-end">
      <app-select-dropdown label="Batch" [options]="['ILP Batch-02', 'ILP Batch-03', 'ILP Batch-04', 'ILP Batch-05']"
        defaultOption="Choose Batch" name="batchControl" ngDefaultControl controlId="batch" [formControl]="batchControl">
      </app-select-dropdown>
      <div *ngIf="batchControl?.touched && batchControl?.invalid" class="validation-message">
        <div *ngIf="batchControl?.errors?.['required']">* This is a required field.</div>
      </div>
    </div>
    <div class="container col-5 mt-5 form-container">
      <div class="form-row row-components" >
        <h1 class="mb-4 main-title col-md-6">CREATE ASSESSMENT</h1>
        <div class="form-group  group_contents col-md-5 p-3">
          <app-select-dropdown label="Phase"
            [options]="['E-learning', 'Technical', 'Business Orientation', 'On-Job Training']"
            defaultOption="Select phase" controlId="phase" name="phaseControl" ngDefaultControl [formControl]="phaseControl">
          </app-select-dropdown>
          <div *ngIf="phaseControl?.touched && phaseControl?.invalid" class="validation-message">
            <div *ngIf="phaseControl?.errors?.['required']">* This is a required field.</div>
          </div>
        </div>
      </div>

      <div class="form-group  group_contents mb-3 p-3">
        <label for="title">Title</label>
        <input type="text" class="form-control control_form" name="title" ngDefaultControl formControlName="title" placeholder="Title" required>
        <div *ngIf="titleControl?.touched && titleControl?.invalid" class="validation-message">
          <div *ngIf="titleControl?.errors?.['required']">* This is a required field.</div>
          <div *ngIf="titleControl?.errors?.['minlength']">* Title must be at least 3 characters long.</div>
        </div>
      </div>

      <div class="form-row row-components" >
        <div class="form-group  group_contents col-md-3 p-3">
          <app-select-dropdown label="Type of Assignment"
            [options]="['Case Study', 'Live Assessment', 'Daily Assessment', 'Module', 'Project']"
            defaultOption="Evaluation Criteria" name="evaluationCriteriaControl" ngDefaultControl controlId="evaluationCriteria" [formControl]="evaluationCriteriaControl">
          </app-select-dropdown>
          <div *ngIf="evaluationCriteriaControl?.touched && evaluationCriteriaControl?.invalid" class="validation-message">
            <div *ngIf="evaluationCriteriaControl?.errors?.['required']">* This is a required field.</div>
          </div>
        </div>
        <div class="form-group group_contents  col-md-3 p-3">
          <app-select-dropdown label="Module"
            [options]="['OOPs-Java', 'Html-Css', 'JavaScript', 'Bootstrap', 'TypeScript']" defaultOption="Select Module"
            controlId="selectModule" name="moduleControl" ngDefaultControl [formControl]="moduleControl">
          </app-select-dropdown>
          <div *ngIf="moduleControl?.touched && moduleControl?.invalid" class="validation-message">
            <div *ngIf="moduleControl?.errors?.['required']">* This is a required field.</div>
          </div>
        </div>
        <div class="form-group group_contents col-md-3 p-3">
          <app-select-dropdown label="Trainer" [options]="['Suneesh', 'Lekshmi', 'Ashin']"
            defaultOption="Select Trainer" name="trainerControl" ngDefaultControl controlId="selectTrainer" [formControl]="trainerControl">
          </app-select-dropdown>
          <div *ngIf="trainerControl?.touched && trainerControl?.invalid" class="validation-message">
            <div *ngIf="trainerControl?.errors?.['required']">* This is a required field.</div>
          </div>
        </div>
      </div>

      <div class="confirm-submission">
        <label for="title">Do you need the trainee to submit something?</label>
        <div class="boolean-check">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="submissionRequired" ngDefaultControl formControlName="submissionRequired" value="true">
            <label class="form-check-label" for="inlineRadio1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="submissionRequired" ngDefaultControl formControlName="submissionRequired" value="false">
            <label class="form-check-label" for="inlineRadio2">No</label>
          </div>
        </div>
      </div>
      <div class="form-group group_contents mb-3 p-3">
        <label for="dueDate">Due by</label>
        <input type="date" class="form-control control_form" name="dueDateControl" ngDefaultControl formControlName="dueDate" placeholder="dd/mm/yyyy" name="date" required>
        <div *ngIf="dueDateControl?.invalid && dueDateControl?.touched" class="validation-message">
          <div *ngIf="dueDateControl?.errors?.['required']">* This is a required field.</div>
          <div *ngIf="dueDateControl?.errors?.['futureDate']">* The date must be today or in the future.</div>
        </div>
      </div>

      <div class="d-grid gap-4 d-md-flex create-button">
        <button class="btn me-md-2 custom-btn-1" type="button" (click)="onCancel()">Cancel</button>
        <button class="btn custom-btn-2" type="submit">Create</button>
      </div>
    </div>
  </form>
</div>
