<div class="d-flex ">
  <div class="sidebar">
    <h1>asd</h1>
  </div>
  <div class="dashboard-scorecard p-5">
    <div class="d-flex justify-content-between">
        <div>
            <h5 class="title">Detailed Scorecard</h5>
        </div>
        <div class="d-flex gap-4">
            <select name="" id="">
                <option value="">Select Program</option>
            </select>
            <select name="" id="">
                <option value="">Select Program</option>
            </select>
        </div>
    </div>
    <app-doughnut-graph-carousel />
    <div class="">
      <app-forzen-column-table [tableData]="tatal_sore"/>
    </div>
  </div>
</div>
