
<div style="width: 100%; padding: 3rem;">

<div class="container create-phase-container m-0">
  <div class="heading">
    <h4> PHASES : CREATE AND EDIT </h4>
  </div>
  <div class="container d-flex justify-content-center align-items-center p-1" >
    <div
      class="table-and-search d-flex flex-column align-items-center justify-content-end w-100"
    >
      <div
        class="input-group d-flex flex-row align-items-center justify-content-end"
      >
        <input
          type="text"
          pInputText
          class="search mb-2"
          placeholder="Search"
          [formControl]="searchControl"
          aria-label="Search-text"
          aria-describedby="button-addon2"
        />
      </div>
      <div class="w-100">
        <p-table
          [value]="filteredColumns"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 10%">SL No.</th>
              <th style="width: 80%">Name of Phase</th>
              <th style="width: 80%">Phase Duration</th>
              <th style="width: 10%">Actions</th>
            </tr>
          </ng-template>
           <ng-template pTemplate="body" let-phase let-rowIndex="rowIndex">
            <tr [ngClass]="{'editing': phase.editing}">
              <td>{{ rowIndex + 1 }}</td>
              <td>
                <ng-container *ngIf="!phase.editing; else editPhaseName">
                  {{ phase.phaseName }}
                </ng-container>
                <ng-template #editPhaseName>
                  <input
                    type="text"
                    [(ngModel)]="phase.phaseName"
                    (keydown.enter)="toggleEdit(phase.phaseName)"
                    (blur)="toggleEdit(phase.phaseName)"
                    class="form-control"
                  />
                </ng-template>
              </td>
              <td>
                <ng-container *ngIf="!phase.editing; else editPhaseDuration">
                  {{ phase.phaseDuration }}
                </ng-container>
                <ng-template #editPhaseDuration>
                  <input
                    type="text"
                    [(ngModel)]="phase.phaseDuration"
                    (keydown.enter)="toggleEdit(phase.phaseDuration)"
                    (blur)="toggleEdit(phase.phaseDuration)"
                    class="form-control"
                  />
                </ng-template>
              </td>
              <td>
                <div class="d-flex">
                  <button class="btn btn-link" (click)="toggleEdit(phase)">
                    <i class="bi" [ngClass]="phase.editing ? 'bi-check2' : 'bi-pencil-square'"></i>
                  </button>
                  <button class="btn btn-link" (click)="deletePhase(phase)">
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
          
          
        </p-table>
      </div>
      <button class="add-phase-button" data-bs-toggle="modal" data-bs-target="#addPhaseModale"><i class="bi bi-plus-lg"></i> Add a phase</button>
    </div>



    <div class="modal fade" id="addPhaseModale" tabindex="-1" aria-labelledby="addPhaseModale" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add new phase</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="phaseForm" (ngSubmit)="saveNewPhase()">
              <div class="mb-3">
                <div class=" d-flex flex-row justify-content-center row">
                  <label class="col-6">* Phase title  :</label>
                  <input
                    type="text"
                    class="form-control new-phase-name col-6 "
                    placeholder="Enter Phase title here"
                    formControlName="phaseName"
                    [ngClass]="{'input-error':phaseForm.get('phaseName')?.invalid &&
                    phaseForm.get('phaseName')?.touched}"
                  />
                </div>
                <div *ngIf="phaseForm.get('phaseName')?.invalid && phaseForm.get('phaseName')?.touched" class="text-danger">
                  <div *ngIf="phaseForm.get('phaseName')?.errors?.['minlength']">
                   *Phase Name must be at least 3 characters long.
                  </div>
                </div>
                <div class=" d-flex flex-row justify-content-center row mt-2">
                  <label class="col-6">* Phase Duration :</label>
                  <input
                    type="text"
                    class="form-control new-phase-name col-6"
                    placeholder="Enter Phase duration here"
                    formControlName="phaseDuration"
                    [ngClass]="{'input-error': phaseForm.get('phaseDuration')?.invalid && phaseForm.get('phaseDuration')?.touched && 
                    phaseForm.get('phaseDuration')?.errors?.['required'] }"
                    

                  />
                </div>
               
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <app-hollow-button [hollowButtonLabel]="'Cancel'" [attr]="{ 'data-bs-dismiss': 'modal' }"/>
            <app-button [buttonLabel]="'Save'"  (click)="saveNewPhase()"/>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div *ngIf="showMessage" class="alert alert-success" role="alert">
    Saved successfully!
  </div>
  <div class="buttons d-flex flex-row justify-content-center gap-4">
    <app-hollow-button [hollowButtonLabel]="'Go back'"/>
    <app-button [buttonLabel]="'Save'" (click)="logPhases()"/>
  </div>
</div>

</div>
