.create-phase-container
{
    box-shadow: 0px 3px 18px 0px rgb(85, 118, 217, 0.2);
    // width: 90%;
    margin: 50px;
    padding: 50px;
}

.input-group {
  width: 100%;
  margin-bottom: 10px;
}

.add-phase-button{
  width: 90%;
  border: none;
  background-color: #f5faff;
}
td{
  padding: 0px 1rem;
}

i{
  color: #5576d9;
}
.search,.new-phase-name {
  width: 16vw;
  background-color: #f5faff;
  color: #000;
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid #000;}
td{
  padding: 0 1rem ;
}
