<div class="modal fade" id="leaveviewModal" tabindex="-1" aria-labelledby="leaveviewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="leaveviewModalLabel">Leave Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="leaves">
                <div class="d-flex">
                    <div class="me-3 w-50">
                        <p><b>Name</b></p>
                        <!-- <p><b>Batch</b></p> -->
                        <p><b>Reason</b></p>
                        <p *ngIf="leaves.numofDays == 1"><b>Leave Date</b></p>
                        <p *ngIf="leaves.numofDays > 1"><b>Requested From</b></p>
                        <p *ngIf="leaves.numofDays > 1"><b>Requested To</b></p>
                        <p><b>Requested Date</b></p>
                        <p><b>Description</b></p>
                    </div>
                    <div>
                        <p>: {{ leaves.name }}</p>
                        <!-- <p>: {{ leaves.batchName }}</p> -->
                        <p>: {{ leaves.reason }}</p>
                        <p *ngIf="leaves.numofDays == 1">: {{ leaves.leaveDate }}</p>
                        <p *ngIf="leaves.numofDays > 1">: {{ leaves.leaveDateFrom }}</p>
                        <p *ngIf="leaves.numofDays > 1">: {{ leaves.leaveDateTo }}</p>
                        <p>: {{ leaves.createdDate }}</p>
                        <p>: {{ leaves.description }}</p>
                    </div>
                </div>

                <!-- <form [formGroup]="leaveRequestForm" (ngSubmit)="onSubmit()" *ngIf="showRejectReason">
                    <label for="rejectReason" class="form-label"><b>Remarks</b></label>
                    <textarea class="form-control" id="rejectReason" formControlName="rejectReason"></textarea>
                    <div class="mt-3">
                        <app-button [buttonLabel]="'Submit'" class="custom-button" (click)="onSubmit()"></app-button>
                    </div>
                </form> -->
            </div>
            <div class="modal-footer">
                <app-button [buttonLabel]="'Approve'" class="custom-button" (click)="approveLeave()"></app-button>
                <app-button [buttonLabel]="'Reject'" class="custom-button"
                (click)="RejectLeave()"></app-button>
                <!-- <app-button [buttonLabel]="'Reject'" class="custom-button"
                    (click)="showRejectReasonField()"></app-button> -->
                <app-hollow-button [hollowButtonLabel]="'Cancel'" class="custom-button"
                    data-bs-dismiss="modal"></app-hollow-button>
            </div>
        </div>
    </div>
</div>