.login-page{
  width: 100%;
}

.login-card {
  background-color: #27314B;
  width: 20rem;
  height: 450px;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin-top: 11%;
}

.form-group {
  margin-top: 20px;
}

.form-control {
  width: 17rem;
  margin-top: 20px;
  margin-left: 10px;
 
}

.form-image {
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 80px;
    max-width: 100px; 
  }
.btn-primary {
  background-color: #5576D9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #4059A9; 
}
.image-container{
  position: relative;
}

.svg-image {
  // max-width: 500px;
  min-width: 300px;
  width: 70%;
  height: auto;
  position: absolute;  
}

.second-image {
  margin-top: 30px;
  margin-left: 30px;
  z-index: -2; 
}

.validation-message {
    color: red;
    margin-top: 5px; 
    font-size: 0.750rem; 
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }

  #msimage{
    width: 100%;
  }

  .ms{
    color: white;
    font-weight: 500;

    button{
      width: 6%;
      height: 6%;
      padding: 0;
      border: none;
    }
  }
