<div class="container session-details-container">
  <div class="heading">
    <div class="d-flex flex-row justify-content-between">
      <div><h2>Session Details</h2></div>
      <div><button class="btn btn-primary" routerLink="{{editPageLink}}">Edit</button></div>
    </div> 
    <div class="details row">
      <div class="detail-content col-4">
        <p class="detail-title">Title : {{ session?.session_name }}</p>
      </div>
      <div class="detail-content col-4">
        <p class="detail-title">Trainer : {{ session?.trainer_name }}</p>
      </div>
      <div class="detail-content col-4">
        <p class="detail-title">Date : {{ session?.date }}</p>
      </div>
      <div class="mb-3 detail-content col-4">
        <p class="detail-title">Time : {{ session?.start_time }}-{{ session?.end_time }}</p>
      </div>
    </div>
  </div>
</div>
