<div class="container session-details-container">
  <div class="heading">
    <h2>Session Details</h2>
    <div class="details row">
      <div class="detail-content col-4">
        <p class="detail-title">Title</p>
        <p class="detail-data">{{session_name}}</p>
      </div>
      <div class="detail-content col-4">
        <p class="detail-title">Trainer</p>
        <p class="detail-data">{{trainer_name}}</p>
      </div>
      <div class="detail-content col-4">
        <p class="detail-title">Date</p>
        <p class="detail-data">{{date}}</p>
      </div>
      <div class="mb-3 detail-content col-4">
        <label for="formGroupExampleInput" class="form-label">Time</label>
        <input type="time" class="form-control" id="formGroupExampleInput" value="{{start_time}}-{{end_time}}">
      </div>
    </div>
  </div>

</div>
