.btn-custom {
  background-color: #5576D9;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  height: 30px;
  width: 120px;
  border: none;
  box-shadow: -1px -1px 10px -4px #5576D9,2px 2px 10px -4px #5576D9;
}
.btn-custom:active{
color:#5576D9;
}

