<div class="container p-5 " id="batch-listing">
  <div class="row">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <h4>BATCH LIST</h4>
      <div  *appRoleBased="['Admin']">
        <app-button [buttonLabel]="'Create New'"(click)="navigateToCreateNew()"></app-button>
      </div>
    </div>
  </div>
  <div class="card-container d-flex flex-column">
    @for (item of Batches; track $index) {
    <app-listing-card [batches]="item" (click)="navigateToManageBatch(item.id)"></app-listing-card>
    }
  </div>
 </div>

 