<div class="card border-0 card-container d-flex justify-content-center mt-4">
    <div class="card-body d-flex flex-row justify-content-center card-custom row">
      <div class="col-2 d-flex justify-content-center align-items-center">
        <img src="assets/assessment.svg" class="online-assessment-icon">
      </div>
      <div class="card-writings col-8 d-flex flex-column justify-content-center align-items-start">
        <h5 class="card-title text-left online-assessment-title">{{ assessment.title }}</h5>
        <p class="card-text text-left mb-0 online-assessment-text">Created by {{ assessment.createdBy }}</p>
        <p class="card-text text-left online-assessment-text">Due by {{ assessment.dueTime }}</p>
      </div>
      <div class="col-2 d-flex  justify-content-center align-items-center">
        <div class="d-flex flex-row align-items-center justify-content-start custom-icon-and-text">
          <button *ngIf=" assessment.isPending" class="btn custom-btn-2" type="submit">Click to Attend</button>
          <p class="online-assessment-status" *ngIf="assessment.score">Score :
            <span class="score-value">{{assessment.score}}/{{assessment.totalScore}} </span>
          </p>
        </div>
      </div>
    
    </div>
</div>
  
