.title-line{
    font-weight: 700;
    font-size: 30px;
    color: #27314b;
}
.custom-btn-1 {
  color: #5576D9;
  background-color: white;
  border-color: #5576D9;
  height: 30px;
  width: 120px;
  font-size: 12px;
  text-align: center;
  padding: 0.25rem 0.5rem;
 
}
.custom-btn-2 {
  background-color: #5576D9;
  color: white;
  border-color: #5576D9;
  height: 30px;
  width: 120px;
  font-size: 12px;
  text-align: center;
  padding: 0.25rem 0.5rem;

}
.title-modal{
    color:#6A6A6A
}



