<div class="parent-container">

  <form [formGroup]="assessmentForm" (ngSubmit)="onSubmit()">
    <div class="container form-container d-flex flex-column gap-4">
      <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
        <div>
          <h1 class="main-title m-auto">CREATE ASSESSMENT</h1>
        </div>
        <!-- program &batch dropdown  -->
        <div class="d-flex gap-4 align-items-center flex-wrap ">
          <div class="group_contents">
            
            <app-dropdown [dropDownLabel]="ProgramControl.value || 'Choose Program'"
              [isValid]="ProgramControl.valid || !(ProgramControl.dirty || ProgramControl.touched)"
              [dropDownElements]="['ILP Batch-02', 'ILP Batch-03', 'ILP Batch-04', 'ILP Batch-05']"
              (selectionChange)="onProgramChange($event)" class="custom-button">
            </app-dropdown>
         
          </div>

          <div class="group_contents">
          
            <app-dropdown [dropDownLabel]="batchControl.value || 'Choose Batch'"
              [isValid]="batchControl.valid || !(batchControl.dirty || batchControl.touched)"
              [dropDownElements]="['ILP Batch-02', 'ILP Batch-03', 'ILP Batch-04', 'ILP Batch-05']"
              (selectionChange)="onBatchChange($event)" class="custom-button">
            </app-dropdown>
           
          </div>

        </div>
      </div>
      <div class="form-group group_contents ">
        <label for="title">Title</label>
        <input type="text" class="form-control control_form" name="title"
          [ngClass]="{'invalid-field': titleControl.invalid && titleControl.touched}" formControlName="title"
          placeholder="Title" required>
        <div *ngIf="titleControl?.touched && titleControl?.invalid" class="validation-message">
          
          <div *ngIf="titleControl?.errors?.['minlength']">* Title must be at least 3 characters long.</div>
        </div>
      </div>

      <div class="dropdown-set d-flex gap-3 flex-wrap">
        <div class="form-group group_contents col">
          <label>Phase</label>
          <app-dropdown [dropDownLabel]="phaseControl.value || 'Select phase'"
            [isValid]="phaseControl.valid || !(phaseControl.dirty || phaseControl.touched)"
            [dropDownElements]="['E-learning', 'Technical', 'Business Orientation', 'On-Job Training']"
            (selectionChange)="onPhaseChange($event)" class="custom-button">
          </app-dropdown>
         
        </div>


        <div class="form-group group_contents col">
          <label>Assessment Type</label>
          <app-dropdown [dropDownLabel]="evaluationCriteriaControl.value || 'Evaluation Criteria'"
            [isValid]="evaluationCriteriaControl.valid || !(evaluationCriteriaControl.dirty || evaluationCriteriaControl.touched)"
            [dropDownElements]="['Case Study', 'Live Assessment', 'Daily Assessment', 'Module', 'Project']"
            (selectionChange)="onEvaluationCriteriaChange($event)" class="custom-button">
          </app-dropdown>
        
        </div>

        <div class="form-group group_contents col">
          <label>Trainer</label>
          <app-dropdown [dropDownLabel]="trainerControl.value || 'Select Trainer'"
            [isValid]="trainerControl.valid || !(trainerControl.dirty || trainerControl.touched)"
            [dropDownElements]="['Suneesh', 'Lekshmi', 'Ashin']" (selectionChange)="onTrainerChange($event)"
            class="custom-button">
          </app-dropdown>
          
        </div>

      </div>


      <div class="confirm-submission">
        <label for="title">Do you need the trainee to submit something?</label>
        <div class="d-flex gap-2">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="submissionRequired" formControlName="submissionRequired"
              value="true">
            <label class="form-check-label" for="inlineRadio1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="submissionRequired" formControlName="submissionRequired"
              value="false">
            <label class="form-check-label" for="inlineRadio2">No</label>
          </div>
        </div>
      </div>

      <div class="form-group group_contents" *ngIf="assessmentForm?.get('submissionRequired')?.value === 'true'">
        <label for="dueDate">Due by</label>
        <input type="datetime-local" class="form-control control_form"
          [ngClass]="{'invalid-field': dueDateControl.invalid && dueDateControl.touched}" name="dueDateControl"
          formControlName="dueDate" placeholder="dd/mm/yyyy"
          [required]="assessmentForm.get('submissionRequired')?.value === 'true'">
        <div *ngIf="dueDateControl?.invalid && dueDateControl?.touched" class="validation-message">
       
          <div *ngIf="dueDateControl?.errors?.['futureDate']">* The date and time must be today or later.</div>
        </div>
        <div class="card flex justify-content-center upload-file mt-3">
          <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)"
            [multiple]="true" accept="" maxFileSize="5000000">
            <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">
                  {{ file.name }} - {{ file.size }} bytes
                </li>
              </ul>
            </ng-template>
          </p-fileUpload>
        </div>
        <label>Your Comments</label>
        <div class="card flex justify-content-center mt-1">
          <textarea rows="5" cols="30"></textarea>
        </div>
      </div>

      <div class="" *ngIf="assessmentForm?.get('submissionRequired')?.value === 'false'">
        <p-table [value]="columns" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 10%">SL No.</th>
              <th style="width: 60%">Name of Trainee</th>
              <th style="width: 30%">Marks</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-assessment let-rowIndex="rowIndex">
            <tr>
              <td class="text-center">{{ rowIndex + 1 }}</td>
              <td class="">{{ assessment.trainee_name }}</td>
              <td>
                <input type="number" class="form-control marksOfAssessment" placeholder="Marks"
                  [(ngModel)]="assessment.marks" [ngModelOptions]="{standalone: true}">
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <div class="d-grid gap-4 d-md-flex justify-content-center create-button">
        <button class="btn me-md-2 custom-btn-1" type="button" (click)="onCancel()">Cancel</button>
        <button class="btn custom-btn-2" type="submit">Submit</button>
      </div>
    </div>
  </form>


</div>