.sidebar {
    width: 18vw;
    display: flex;
    flex-direction: column;
    background-color: #1f2a48;
    color: #ffffff;
    position: sticky;
    top: 0;
    height: 100vh;
    font-family: Arial, sans-serif;

    .experion_logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 12.5rem;
        padding: 2rem;

        img {
            // padding-top: 5vw;
            // padding-bottom: 3vw;

            // padding-left: 1vw;
            // padding-right: 1vw;
            width: 70%;
            min-width: 4rem;
        }
    }

    .sidebar-contents {

        ul {
            list-style-type: none;
            padding: 0;
            height: 100%;
            width: 100%;

            li {
                padding: .8rem;
                font-size: 1rem;

                &:hover {
                    background-color: #3066be;
                    border-radius: .5rem;
                    cursor: pointer;
                }

                a {
                    text-decoration: none;
                    color: #ffffff;
                    display: flex;
                    align-items: center;

                    i {
                        padding-right: 8%;
                        padding-left: 6%;
                    }
                }
            }
        }
    }
}