<div class=" sidebar" >
    <img src="images/experionglobal.svg" class="companylogo">

  <div class="nav-route">
        <ul class="nav-list">
          <li class="nav-item"> 
            <a routerLink="/home" class="nav-link">
                <div class="nav-icon">
                    
                   
                    <img class="nav-icons" src="images/home.svg">
                    
                    <span class="nav-text" style="color: white;">Home</span>
                </div>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/curriculum" class="nav-link">
                <div class="nav-icon">
                   
                    <img class="nav-icons" src="images/curriculum.svg">
                  
                  <span class="nav-text" style="color: white;">Curriculum</span>
                </div>
                </a>
              </li>

          <li class="nav-item">
            <a routerLink="/batches" class="nav-link">
                <div class="nav-icon">
                   
                    <img class="nav-icons" src="images/Batches.svg">
                  
                  <span class="nav-text" style="color: white;">Batches</span>
                </div>
                </a>
              </li>

          <li class="nav-item">
            <a routerLink="/accounts" class="nav-link">
                <div class="nav-icon">
                   
                    <img class="nav-icons" src="images/Accounts.svg">
                  
                  <span class="nav-text" style="color: white;">Accounts</span>
                </div>
                </a>
              </li>
          <li class="nav-item">
            <a routerLink="/leave-requests" class="nav-link">
                <div class="nav-icon">
                   
                    <img class="nav-icons" src="images/Leave Requests.svg">
                  
                  <span class="nav-text" style="color: white;">Leave Requests</span>
                </div>
                </a>
              </li>
        </ul>
    
    
</div>
</div>

<div class="navbar">
    <div class="designate">
        <span class="bluei"></span>
        <span class="name">Pradeep Kumar S</span>
    </div>
</div>

