<nav class="sidebar">
    <div class="d-flex justify-content-center experion_logo ">
        <!-- <div class=""> -->
            <img src="/assets/ILP_360_Circle_logo.svg" alt="experion logo" class="">
        <!-- </div> -->
    </div>
    <div class="sidebar-contents">
        <ul>
            @for (item of getSidebarItems(); track item.name) {
            <li>
                <!-- <a [routerLink]="item.link">{{ item.name }}</a> -->
                <a [routerLink]="item.link">
                    <i [class]="item.icon"></i>
                    {{ item.name }}
                </a>
            </li>
            }
        </ul>
    </div>
</nav>
