<div class="dropdown">
  <button class="btn btn-transparent dropdown-toggle custom-dropdown-button" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    {{dropdownLabel}}
  </button>
  <ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item custom-dropdown-item" href="#" >{{firstDropdownElement}}</a></li>
    <li><a class="dropdown-item custom-dropdown-item" href="#">{{secondDropdownElement}}</a></li>
    <li><a class="dropdown-item custom-dropdown-item" href="#">{{thirdDropdownElement}}</a></li>
  </ul>
</div>
