.topbar {
    display: flex;
    background-color: #f5faff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: calc(100% - 18vw);
    left: 18vw;
    top: 0;
    z-index: 1000;
    justify-content: flex-end;

    .user-info {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-right: 2rem;


        .user-avatar {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .user-name {
            font-family: Arial, sans-serif;
            padding-left: 1rem;
            font-size: 16px;
            color: black;
        }

    }
}