<div class="modal fade" id="applyLeaveModal" tabindex="-1" aria-labelledby="applyLeaveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="applyLeaveModalLabel">Leave Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="applyLeaveForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" formControlName="name">
                        <div *ngIf="applyLeaveForm.get('name')?.invalid && applyLeaveForm.get('name')?.touched">
                            <div *ngIf="applyLeaveForm.get('name')?.errors?.['required']" class="text-danger">This field
                                is required.</div>
                            <div *ngIf="applyLeaveForm.get('name')?.errors?.['minLength']" class="text-danger">Minimum 3
                                characters required.</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="days" class="form-label">Number of Days</label>
                        <input type="number" class="form-control" id="days" formControlName="days"
                            (change)="onDaysChange()">
                        <div *ngIf="applyLeaveForm.get('days')?.invalid && applyLeaveForm.get('days')?.touched">
                            <div *ngIf="applyLeaveForm.get('days')?.errors?.['required']" class="text-danger">This field
                                is required.</div>
                            <div *ngIf="applyLeaveForm.get('days')?.errors?.['min']" class="text-danger">Minimum 1 day
                                required.</div>
                        </div>
                    </div>
                    <div *ngIf="applyLeaveForm.get('days')?.value === 1" class="mb-3">
                        <label for="date" class="form-label">Date</label>
                        <input type="date" class="form-control" id="date" formControlName="date">
                        <div *ngIf="applyLeaveForm.get('date')?.invalid && applyLeaveForm.get('date')?.touched">
                            <div *ngIf="applyLeaveForm.get('date')?.errors?.['required']" class="text-danger">This field
                                is required.</div>
                            <div *ngIf="applyLeaveForm.get('date')?.errors?.['futureDate']" class="text-danger">Date
                                must be in the future.</div>
                        </div>
                    </div>
                    <div *ngIf="applyLeaveForm.get('days')?.value > 1" class="row mb-3">
                        <div class="col">
                            <label for="fromDate" class="form-label">From</label>
                            <input type="date" class="form-control" id="fromDate" formControlName="fromDate">
                            <div
                                *ngIf="applyLeaveForm.get('fromDate')?.invalid && applyLeaveForm.get('fromDate')?.touched">
                                <div *ngIf="applyLeaveForm.get('fromDate')?.errors?.['required']" class="text-danger">
                                    This field is required.</div>
                                <div *ngIf="applyLeaveForm.get('fromDate')?.errors?.['futureDate']" class="text-danger">
                                    Date must be in the future.</div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="toDate" class="form-label">To</label>
                            <input type="date" class="form-control" id="toDate" formControlName="toDate">
                            <div *ngIf="applyLeaveForm.get('toDate')?.invalid && applyLeaveForm.get('toDate')?.touched">
                                <div *ngIf="applyLeaveForm.get('toDate')?.errors?.['required']" class="text-danger">This
                                    field is required.</div>
                                <div *ngIf="applyLeaveForm.get('toDate')?.errors?.['futureDate']" class="text-danger">
                                    Date must be in the future.</div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="reason" class="form-label">Reason</label>
                        <input type="text" class="form-control" id="reason" formControlName="reason">
                        <div *ngIf="applyLeaveForm.get('reason')?.invalid && applyLeaveForm.get('reason')?.touched">
                            <div *ngIf="applyLeaveForm.get('reason')?.errors?.['required']" class="text-danger">This
                                field
                                is required.</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="trainerPoc" class="form-label">Trainer POC</label>
                            <select class="form-select" id="trainerPoc" formControlName="trainerPoc">
                                <option *ngFor="let trainer of trainers" [value]="trainer.id">{{ trainer.firstName }}</option>
                            </select>
                            <div
                                *ngIf="applyLeaveForm.get('trainerPoc')?.invalid && applyLeaveForm.get('trainerPoc')?.touched">
                                <div *ngIf="applyLeaveForm.get('trainerPoc')?.errors?.['required']" class="text-danger">
                                    Select One</div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="ldPoc" class="form-label">L&D POC</label>
                            <select class="form-select" id="ldPoc" formControlName="ldPoc">
                                <option *ngFor="let admin of admins" [value]="admin.id">{{ admin.firstName }}</option>
                            </select>
                            <div *ngIf="applyLeaveForm.get('ldPoc')?.invalid && applyLeaveForm.get('ldPoc')?.touched">
                                <div *ngIf="applyLeaveForm.get('ldPoc')?.errors?.['required']" class="text-danger">
                                    Select One</div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" formControlName="description"></textarea>
                        <div
                            *ngIf="applyLeaveForm.get('description')?.invalid && applyLeaveForm.get('description')?.touched">
                            <div *ngIf="applyLeaveForm.get('description')?.errors?.['required']" class="text-danger">
                                This field
                                is required.</div>
                        </div>
                    </div>
                    <div *ngIf="applyLeaveForm.errors?.['durationMismatch']" class="text-danger mb-3">
                        The date range does not match the number of days.
                    </div>
                    <div class="modal-footer">
                        <app-button [buttonLabel]="'Submit'" class="custom-button" data-bs-dismiss="modal"
                            (click)="onSubmit()"></app-button>
                        <app-hollow-button [hollowButtonLabel]="'Cancel'" class="custom-button"
                            data-bs-dismiss="modal"></app-hollow-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>